@font-face {
   font-family: 'SharpSansDisplayNo-Book';
   font-display: swap;
   src: url('file:///Users/AFulton/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-07-29_085816/fonts/SharpSansDisplayNo-Book/font.ttf');
}
